.container {
    font-family: 'Roboto', sans-serif;
}

.chart-container {
    padding: 10px 0 50px 0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.85rem;
    color: rgb(24, 24, 24);
}

.chart-title {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.chart-subtitle {
    margin-bottom: 20px;
}

.chart-note {
    font-style: italic;
    margin-bottom: 8px;
    margin-top: 5px;
}

.chart-source, .chart-note {
    color: rgb(136, 136, 136);
    font-weight: lighter;
    /* margin-top: 20px; */
}

#chart-2>img {
    width: 100%;
    /* height: 600px; */
}